**/.DS_Store

**/*.out
**/*.aux
**/*.log
**/*.synctex.gz

midterm_and_answers.aux
midterm_and_answers.log
midterm_and_answers.out
midterm_and_answers.pdf
midterm_and_answers.synctex.gz
midterm_and_answers.tex
.Rproj.user

AMES-2024/